<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Event Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Event Management</a>
            <button class="navbar-toggler" type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Events" asp-action="Create">Add Event <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link"  asp-area="" asp-controller="Events" asp-action="Index">View Events</a>
                    </li>               
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    @{
                        if (User?.Identity?.IsAuthenticated ?? false)
                        {                         
                                <u>Welcome: @User.Identity.Name</u>
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="LogOut">LogOut</a>
                        }

                        else
                        {                         
                                <a class="nav-link text-dark" asp-controller="User" asp-action="Create" >Register</a> 
                                
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login" >Login</a> 
                        }
                    }
                </div>
            </div>
        </nav>     
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p> &copy; 2021 - Event Management</p>
        </div>
    </footer>

    @*<script src="https://code.jquery.com/jquery-3.6.0.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
