@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create an Account</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/Theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/Theme/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account.!</h1>
                            </div>
                            <form class="user" action="@Url.Action("Register","Home")" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" name="FirstName" id="FirstName"
                                               placeholder="First Name" autocomplete="off">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" name="LastName" id="LastName"
                                               placeholder="Last Name" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="Email" id="Email"
                                           placeholder="Email Address" autocomplete="off">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" name="Password"
                                               id="Password" placeholder="Password" autocomplete="off">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" name="RepeatPassword"
                                               id="RepeatPassword" placeholder="Repeat Password" autocomplete="off">
                                    </div>
                                </div>
                                <button type="button" onclick="Register()" class="btn btn-primary btn-user btn-block">
                                    Create
                                </button>

                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("ChangePassword","Home")">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("Login","Home")">Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/Theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/Theme/js/sb-admin-2.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>

<script>
    function Register() {

        var FirstName = $("#FirstName").val();
        var LastName = $("#LastName").val();
        var Email = $("#Email").val();
        var Password = $("#Password").val();
        var RepeatPassword = $("#RepeatPassword").val();

        if (Password === RepeatPassword) {

            var Type = "POST";
            var Url = '@Url.Action("Register", "Home")';
            var Reg = {
                FirstName: FirstName,
                LastName: LastName,
                Email: Email,
                Password: Password
            };

            $.ajax({
                type: Type,
                url: Url,
                data: JSON.stringify({ 'Reg': Reg ,'IsModel': true}),
                contentType: "application/json",
                success: function (result) {
                    console.log(result);
                    var res = result.Status;
                    if (res == 1) {
                        swal({
                            title: "Success!",
                            text: "Successful creating a new user!",
                            icon: "success",
                            button: "OK",
                        });

                        $("#FirstName").val("");
                        $("#LastName").val("");
                        $("#Email").val("");
                        $("#Password").val("");
                        $("#RepeatPassword").val("");
                        if (result.IsModel == true) {
                            window.onload
                        }
                    } else {
                        swal({
                            title: "Error!",
                            text: "Please contact the system administrator!",
                            icon: "error",
                            button: "OK",
                        });
                    }

                }
            });
        } else {
            swal({
                title: "Warning!",
                text: "Please check the password!",
                icon: "warning",
                button: "Ok",
            });
        }
    }
</script>