@{
    Layout = "~/Views/Shared/_PrimaryEventLayout.cshtml";
}


<div >
    <div class="cover-container pt-5 d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" id="bearcat_alert">
            <div class="row">
                <div class="col-md-6 col-xs-6 col-sm-6">
                    <img class="img-home" src="~/Content/Theme/img/FASFA-Homepage-Graphic-22-23-01.jpg" />
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 right-home">
                    <h1 class="h1">P&F Class.</h1>
                    <h3>Location: <span>Colden hall</span></h3>
                    <h5 class="pt-2 pb-2">Date & Time: <span> 1 PM 01/03/2021</span></h5>
                    <div class="pt-3">
                        <a href="@Url.Action("ViewEvents","Home")" class="btn btn-md btn-dark">See more</a>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>